body {
    background-color: rgb(30, 30, 30);
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.block_info{
    background-color: rgb(68, 68, 68);
    margin: 15px;
    width: 600px;
    border-radius: 5px 5px 5px 5px;
    justify-content: center;

}

.name{
    text-align: center;
    font-size: 1.5rem;
    font-family: Helvetica;
}
.blockLink{
    background-color: rgb(68, 68, 68);
    margin: 15px;
    width: 600px;
    border-radius: 5px 5px 5px 5px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

a {
    text-decoration: none;
    outline-color: transparent;
    text-align: center;
    line-height: 3;
    color: black;
  }
  
  a:link,
  a:visited,
  a:focus {
    color: black;
    
    margin: 15px;
    border-radius: 5px 5px 5px 5px;
  }
  
  a:hover {
    background: orange;
  }
  
  a:active {
    background: darkred;
    color: white;
  }

.divTable{
	display: table;
	width: 100%;
    margin: 15px;
}

.divTableBody {
	display: table-row-group;
}

.divTableFlexBody{
    display: flex;
}
.divTableRow {
	display: table-row;
}

.divTableCell, .divTableHead {
	display: table-cell;
	padding: 3px 10px;
    font-family: Helvetica;
}
