{% extends 'base.html' %}

{% block node %}
    <div class="chapter">
        
        {% for x in node %}
        <div class="block">
            <div class="info">
                <div class="name">{{node[x].node_id}}</div>
                <div class="status" id=node_status{{x}} ></div>
            </div>
                <div class="uptime_text"> Uptime: 
                    <div class="uptime" id=node_uptime{{x}} ></div>
                </div>
            <div class="monitoring">
                <div class="infoblock">
                    <div class="dinamickinfo">
                        <div id=node_core_load{{x}} ></div>
                        <div>/</div>
                        <div id=node_core{{x}} ></div>
                    </div>
                    <div class="staticinfo">CPU</div>
                </div>

                <div class="infoblock">
                    <div class="dinamickinfo">
                        <div id=node_ram_moment{{x}} ></div>
                        <div>/</div>
                        <div id=node_ram_total{{x}} ></div>
                    
                    </div>
                    <div class="staticinfo">RAM</div>
                </div>

                <div class="infoblock">
                    <div class="dinamickinfo">
                        <div id=node_os_disk_moment{{x}} ></div>
                        <div>/</div>
                        <div id=node_os_disk_total{{x}} ></div>    
                </div>
                    <div class="staticinfo">OS Disk</div>
                </div>
            </div>    
            
        </div>
        {% endfor%}
    </div>
{% endblock %}